body {
  margin: 0;
}

#crossly {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#stitch {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#cue {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

}

#input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}