body {
  overflow: hidden;
}

.container {
  overflow: hidden;
}

#grid-threads {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#grid-dots {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#stitch {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#cue {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

#crossly {
  position: relative;
  overflow: auto;
  border: 1px solid #ccc;
  z-index: 5;
}